## 今回は食べログの評価をスクレイピング！

https://tabelog.com/tokyo/A1302/A130201/13026436/dtlratings/

前回の「バルニバービ@食べログ」を、「tabelog.py」に直して、同じフォルダに保存し関数を呼び出せるようにします。

In [22]:
from tabelog import *

In [23]:
import requests
import lxml.html
from xml.etree.ElementTree import *

In [24]:
erl = list()
wrl = list()
arl = list()
srl = list()
erl = shop_name1("http://www.balnibarbi.com/shops/east.php")
srl =  shop_name1("http://www.balnibarbi.com/shops/sweets.php")
arl =  shop_name1("http://www.balnibarbi.com/shops/asushoku.php")
wrl = shop_name1("http://www.balnibarbi.com/shops/west.php")

In [25]:
eerl = list()
wwrl = list()
aarl = list()
ssrl = list()
eerl = shop_name("http://www.balnibarbi.com/shops/east.php")
ssrl =  shop_name("http://www.balnibarbi.com/shops/sweets.php")
aarl =  shop_name("http://www.balnibarbi.com/shops/asushoku.php")
wwrl = shop_name("http://www.balnibarbi.com/shops/west.php")

In [27]:
urls = url(eerl)
urls1 = url(erl)

前回、関数化していなかったものを、関数に直します。

In [30]:
def urls2(urls,urls1):
    urls2 = list()
    i = 0
    for i in range(len(urls1)):
        x =urls[i]
        f = x.find(' ')
        if f > 0:
            urls2.append(urls1[i])
        else:
            urls2.append(urls[i])
    return urls2

In [29]:
def urls3(urls2):
    urls3 = list()
    ul = "https://tabelog.com/rstLst/?vs=1&sa=&sk=" 
    ul2 ="&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=" 
    for i in range(len(urls2)):
        b = ul + urls2[i] + ul2 + urls2[i]
        urls3.append(b)
    return urls3

In [31]:
us = urls3(urls2(urls,urls1))

In [50]:
def bb(us):
    i = 0
    bb = list()
    for i in range(len(us)):
        session = requests.Session()
        response = session.get(us[i])
        root = lxml.html.fromstring(response.content)
        root.make_links_absolute(response.url)  
        for a in root.cssselect('a'):
            aa= a.get("href")
            d = list()
            if 'dtlrvwlst' in str(aa):
                bb.append(aa)
                d.append(aa)
                if len(d) > 0:
                    break            
    return bb

In [35]:
def rate(bb):
    i = 0
    rate = list()
    for i in range(len(bb)):
        c = str(bb[i])
        cs = c.replace('dtlrvwlst', 'dtlratings')
        session = requests.Session()
        response = session.get(cs)
        root = lxml.html.fromstring(response.content)
        for x in root.cssselect('strong[class = "score"]'):
            rate.append(x.text)
    return rate

In [36]:
rate = rate(bb(us))

In [37]:
rate

['3.55',
 '3.53',
 '3.51',
 '3.46',
 '3.36',
 '3.25',
 '3.50',
 '3.14',
 '3.50',
 '3.06',
 '3.06',
 '3.03',
 '3.28',
 '3.27',
 '3.08',
 '3.13',
 '3.09',
 '3.14',
 '3.55',
 '3.51',
 '3.55',
 '3.54',
 '3.48',
 '3.51',
 '3.28',
 '3.08',
 '3.48',
 '3.09',
 '3.05',
 '3.09',
 '3.06',
 '3.03',
 '3.06',
 '3.55',
 '3.17',
 '3.55',
 '3.14',
 '3.12',
 '3.08',
 '3.53',
 '3.53',
 '3.17',
 '3.28',
 '3.08',
 '3.47',
 '3.04',
 '3.04',
 '-',
 '3.04',
 '3.04',
 '-',
 '3.32',
 '3.28',
 '3.09',
 '3.61',
 '3.59',
 '3.61',
 '3.55',
 '3.54',
 '3.45',
 '3.05',
 '3.05',
 '-',
 '3.58',
 '3.55',
 '3.58',
 '3.55',
 '3.54',
 '3.45',
 '3.41',
 '3.23',
 '3.51',
 '3.41',
 '3.23',
 '3.51',
 '3.54',
 '3.54',
 '-',
 '3.21',
 '3.06',
 '3.21',
 '3.21',
 '3.06',
 '3.21',
 '3.41',
 '3.23',
 '3.51']

In [45]:
## 関数化できたので、とりあえずpandasに直します。村山さんがやっていたDFを使います。

In [124]:
import pandas as pd
from pandas import DataFrame as df
import numpy as np

In [42]:
col = len(rate)/3
np.reshape(rate,(int(col),3))

array([['3.55', '3.53', '3.51'],
       ['3.46', '3.36', '3.25'],
       ['3.50', '3.14', '3.50'],
       ['3.06', '3.06', '3.03'],
       ['3.28', '3.27', '3.08'],
       ['3.13', '3.09', '3.14'],
       ['3.55', '3.51', '3.55'],
       ['3.54', '3.48', '3.51'],
       ['3.28', '3.08', '3.48'],
       ['3.09', '3.05', '3.09'],
       ['3.06', '3.03', '3.06'],
       ['3.55', '3.17', '3.55'],
       ['3.14', '3.12', '3.08'],
       ['3.53', '3.53', '3.17'],
       ['3.28', '3.08', '3.47'],
       ['3.04', '3.04', '-'],
       ['3.04', '3.04', '-'],
       ['3.32', '3.28', '3.09'],
       ['3.61', '3.59', '3.61'],
       ['3.55', '3.54', '3.45'],
       ['3.05', '3.05', '-'],
       ['3.58', '3.55', '3.58'],
       ['3.55', '3.54', '3.45'],
       ['3.41', '3.23', '3.51'],
       ['3.41', '3.23', '3.51'],
       ['3.54', '3.54', '-'],
       ['3.21', '3.06', '3.21'],
       ['3.21', '3.06', '3.21'],
       ['3.41', '3.23', '3.51']],
      dtype='<U4')

In [44]:
value_df = pd.DataFrame(np.reshape(rate,(int(col),3)))
value_df.columns = ['all', 'lunch', 'dinner']
value_df

     all lunch dinner
0   3.55  3.53   3.51
1   3.46  3.36   3.25
2   3.50  3.14   3.50
3   3.06  3.06   3.03
4   3.28  3.27   3.08
5   3.13  3.09   3.14
6   3.55  3.51   3.55
7   3.54  3.48   3.51
8   3.28  3.08   3.48
9   3.09  3.05   3.09
10  3.06  3.03   3.06
11  3.55  3.17   3.55
12  3.14  3.12   3.08
13  3.53  3.53   3.17
14  3.28  3.08   3.47
15  3.04  3.04      -
16  3.04  3.04      -
17  3.32  3.28   3.09
18  3.61  3.59   3.61
19  3.55  3.54   3.45
20  3.05  3.05      -
21  3.58  3.55   3.58
22  3.55  3.54   3.45
23  3.41  3.23   3.51
24  3.41  3.23   3.51
25  3.54  3.54      -
26  3.21  3.06   3.21
27  3.21  3.06   3.21
28  3.41  3.23   3.51

さて、ここからもう１歩踏み込みます。
顧客によって、「性別・年齢」が開示されている場合があるので、その評価を取ってきて、セグメント別の評価をとります。

In [51]:
bb = bb(us)

https://tabelog.com/tokyo/A1302/A130201/13026436/dtlrvwlst/COND-2/smp1/?lc=0&amp;rvw_part=all

まず、夜に絞って、「評価・顧客の性別・年齢・使った金額」を取ってみます。↑は夜の評価だけのページです。

https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13026436&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2

これが、「夜の評価を最大１００件表示したページ」になります。

In [76]:
nrate = list()
c = str(bb[0])
f = c.rfind('/')
f1 = c.rfind('/', 0, f-1)
f2 = c.rfind('/', 0, f1-1)
y = c[f2+1:f1]
j = c.find('/', 20)
y1= c[20:j]
print(y,y1)

13026436 tokyo

In [77]:
u1 = "https://tabelog.com/rst/rstdtl_rvwlst/?pal="
s1 = y1
u2 = "&rcd="
s2 = y
u3 = "&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2"
cs = u1+s1+u2+s2+u3

In [81]:
cs

'https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13026436&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2'

プロフィール、その人の評価、使った金額をリスト化して、DataFrameに持っていきます。

In [109]:
nrate = dict()
pro = list()
ra = list()
session = requests.Session()
response = session.get(cs)
root = lxml.html.fromstring(response.content)
for x in root.cssselect('span[class = "rvw-item__rvwr-profile"]'):
    pro.append(x.text)
pro

['20代後半・女性・東京都',
 '40代後半・男性・東京都',
 '女性・千葉県',
 '女性・東京都',
 '女性',
 '東京都',
 '女性・東京都',
 None,
 '女性・東京都',
 '30代前半・男性・東京都',
 None,
 '30代前半・男性・東京都',
 '30代前半・男性・大阪府',
 '50代後半・男性・神奈川県',
 '男性・千葉県',
 '30代前半・女性',
 '30代後半・男性・東京都',
 '女性',
 None,
 '東京都',
 '女性',
 '40代前半・男性・神奈川県',
 '40代前半・女性・東京都',
 '女性・東京都',
 '女性',
 None,
 '50代前半・男性・東京都',
 '20代後半・女性・東京都',
 None,
 '女性',
 '女性',
 '20代後半・女性・埼玉県',
 None,
 None,
 '30代前半・男性・東京都',
 None,
 '30代後半・女性・東京都',
 '40代前半・男性・東京都',
 '30代前半・女性・東京都',
 '30代後半・男性・東京都',
 '女性・東京都',
 '男性・東京都',
 '30代後半・男性・東京都',
 '男性・東京都',
 '男性・神奈川県',
 None,
 '女性・東京都',
 '男性・東京都',
 None,
 '30代後半・女性・東京都',
 '女性・東京都',
 None,
 '女性・東京都',
 '女性',
 None,
 '20代後半・女性・東京都',
 '30代後半・女性・東京都',
 '男性・東京都',
 '30代前半・東京都',
 '女性・東京都',
 '30代後半・女性・神奈川県',
 '30代前半・女性・東京都',
 None,
 '30代後半・男性',
 '女性・神奈川県',
 '女性・神奈川県']

In [83]:
len(pro)

66

夜と昼の点数がまだ混在しているので、配列を認識して夜だけ取り出せるようにします。

In [110]:
nn = list()
ni = list()
for x in root.cssselect('span'):
    nn.append(x.text)
i = 0
for i in range(len(nn)):
    n = str(nn[i])
    if "夜の点数：" in n:
        ni.append(n)
    if "昼の点数：" in n:
        ni.append(n)
    else:
        pass
len(ni)

81

In [111]:
price = list()
for x in root.cssselect('strong[class = "c-rating__val rvw-item__usedprice-price"]'):
    price.append(x.text)
len(price)

81

さっき用意した配列を使って、夜の評価と使った金額だけを抜き出します。

In [129]:
## まずはpriceを抜き出す。

In [113]:
i = 0
nr= list()
for i in range(len(ni)):
    if "夜" in ni[i]:
        nr.append(price[i])
    else:
        pass
len(nr)

66

In [130]:
## 次に評価を抜き出す。

In [121]:
trate= list()
tr = list()
for x in root.cssselect('b[class = "c-rating__val c-rating__val--strong"]'):
    trate.append(x.text)
for i in range(len(ni)):
    if "夜" in ni[i]:
        tr.append(trate[i])
    else:
        pass
len(tr)

66

プロフィール、評価、使った金額を抜き出すことに成功したので、DataFrameにします。

In [125]:
df1 = df(pro)
df2 = df(nr)
df3 = df(tr)
df = pd.concat([df1,df2,df3], axis = 1)
df

                0              0    0
0    20代後半・女性・東京都  ￥3,000～￥3,999  3.3
1    40代後半・男性・東京都              －  3.8
2          女性・千葉県  ￥4,000～￥4,999  3.8
3          女性・東京都  ￥3,000～￥3,999  3.0
4              女性  ￥6,000～￥7,999  2.6
5             東京都  ￥3,000～￥3,999  3.4
6          女性・東京都  ￥4,000～￥4,999  3.5
7            None  ￥5,000～￥5,999  3.3
8          女性・東京都  ￥3,000～￥3,999  3.9
9    30代前半・男性・東京都  ￥6,000～￥7,999  2.9
10           None  ￥4,000～￥4,999  4.0
11   30代前半・男性・東京都  ￥1,000～￥1,999  3.7
12   30代前半・男性・大阪府  ￥6,000～￥7,999  4.0
13  50代後半・男性・神奈川県  ￥2,000～￥2,999  3.0
14         男性・千葉県  ￥5,000～￥5,999  3.5
15       30代前半・女性  ￥3,000～￥3,999  4.0
16   30代後半・男性・東京都  ￥6,000～￥7,999  1.5
17             女性              －  4.0
18           None  ￥5,000～￥5,999  2.5
19            東京都  ￥1,000～￥1,999  3.5
20             女性              －  3.0
21  40代前半・男性・神奈川県  ￥4,000～￥4,999  1.5
22   40代前半・女性・東京都              －    -
23         女性・東京都  ￥2,000～￥2,999  3.7
24             女性              －  3.7
25           None  ￥5,000～￥5,999  3.6
26   50代前半・男性・東京都  ￥5,000～￥5,999  3.5
27   20代後半・女性・東京都              －  2.6
28           None              －    -
29             女性  ￥5,000～￥5,999  3.6
..            ...            ...  ...
36   30代後半・女性・東京都  ￥2,000～￥2,999  3.0
37   40代前半・男性・東京都  ￥2,000～￥2,999  3.5
38   30代前半・女性・東京都  ￥4,000～￥4,999  3.0
39   30代後半・男性・東京都              －  3.5
40         女性・東京都  ￥3,000～￥3,999  2.0
41         男性・東京都  ￥4,000～￥4,999  3.5
42   30代後半・男性・東京都  ￥8,000～￥9,999  3.7
43         男性・東京都  ￥6,000～￥7,999  3.5
44        男性・神奈川県  ￥4,000～￥4,999  3.5
45           None  ￥4,000～￥4,999  4.0
46         女性・東京都  ￥3,000～￥3,999  3.0
47         男性・東京都  ￥1,000～￥1,999  2.5
48           None  ￥3,000～￥3,999  3.5
49   30代後半・女性・東京都  ￥3,000～￥3,999  2.0
50         女性・東京都  ￥5,000～￥5,999  3.5
51           None  ￥4,000～￥4,999  3.5
52         女性・東京都  ￥6,000～￥7,999  3.5
53             女性  ￥8,000～￥9,999  1.7
54           None  ￥8,000～￥9,999  3.1
55   20代後半・女性・東京都  ￥8,000～￥9,999  4.0
56   30代後半・女性・東京都  ￥5,000～￥5,999  3.4
57         男性・東京都  ￥3,000～￥3,999  3.4
58      30代前半・東京都  ￥4,000～￥4,999  3.7
59         女性・東京都              －  3.0
60  30代後半・女性・神奈川県  ￥4,000～￥4,999  2.5
61   30代前半・女性・東京都  ￥6,000～￥7,999  3.0
62           None  ￥4,000～￥4,999  3.5
63       30代後半・男性  ￥4,000～￥4,999  2.0
64        女性・神奈川県  ￥6,000～￥7,999  3.0
65        女性・神奈川県  ￥4,000～￥4,999  3.0

[66 rows x 3 columns]

ここまでできたので、以上を関数化して一旦終わります。

これが、欲しいurlのリストを作る関数

In [140]:
def css(bb):
    i = 0
    nrate = list()
    pro = list()
    ra = list()
    nn = list()
    ni = list()
    for i in range(len(bb)):
        c = str(bb[i])
        f = c.rfind('/')
        f1 = c.rfind('/', 0, f-1)
        f2 = c.rfind('/', 0, f1-1)
        y = c[f2+1:f1]
        j = c.find('/', 20)
        y1= c[20:j]
        u1 = "https://tabelog.com/rst/rstdtl_rvwlst/?pal="
        s1 = y1
        u2 = "&rcd="
        s2 = y
        u3 = "&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2"
        cs = u1+s1+u2+s2+u3
    return cs

これが、与えられたurlに対して、DataFrameを返す関数。ただし、複数のurlに耐えれないため、まだ改良途中。

In [142]:
def usa(cs):
    i = 0
    nrate = list()
    pro = list()
    ra = list()
    nn = list()
    ni = list()
    session = requests.Session()
    response = session.get(cs)
    root = lxml.html.fromstring(response.content)
    for x in root.cssselect('span[class = "rvw-item__rvwr-profile"]'):
        pro.append(x.text)
    for x in root.cssselect('span'):
        nn.append(x.text)
    i = 0
    for i in range(len(nn)):
        n = str(nn[i])
        if "夜の点数：" in n:
            ni.append(n)
        if "昼の点数：" in n:
            ni.append(n)
        else:
            pass
    price = list()
    for x in root.cssselect('strong[class = "c-rating__val rvw-item__usedprice-price"]'):
        price.append(x.text)
    i = 0
    nr= list()
    for i in range(len(ni)):
        if "夜" in ni[i]:
            nr.append(price[i])
        else:
            pass
    trate= list()
    tr = list()
    for x in root.cssselect('b[class = "c-rating__val c-rating__val--strong"]'):
        trate.append(x.text)
    for i in range(len(ni)):
         if "夜" in ni[i]:
            tr.append(trate[i])
         else:
            pass
    from pandas import DataFrame as df
    df1 = df(pro)
    df2 = df(nr)
    df3 = df(tr)
    df = pd.concat([df1,df2,df3], axis = 1)
    return df

In [143]:
usa("https://tabelog.com/rst/rstdtl_rvwlst/?pal=tokyo&rcd=13026436&srt=&sby=&smp=1&use_type=2&rvw_part=all&lc=2")

                0              0    0
0    20代後半・女性・東京都  ￥3,000～￥3,999  3.3
1    40代後半・男性・東京都              －  3.8
2          女性・千葉県  ￥4,000～￥4,999  3.8
3          女性・東京都  ￥3,000～￥3,999  3.0
4              女性  ￥6,000～￥7,999  2.6
5             東京都  ￥3,000～￥3,999  3.4
6          女性・東京都  ￥4,000～￥4,999  3.5
7            None  ￥5,000～￥5,999  3.3
8          女性・東京都  ￥3,000～￥3,999  3.9
9    30代前半・男性・東京都  ￥6,000～￥7,999  2.9
10           None  ￥4,000～￥4,999  4.0
11   30代前半・男性・東京都  ￥1,000～￥1,999  3.7
12   30代前半・男性・大阪府  ￥6,000～￥7,999  4.0
13  50代後半・男性・神奈川県  ￥2,000～￥2,999  3.0
14         男性・千葉県  ￥5,000～￥5,999  3.5
15       30代前半・女性  ￥3,000～￥3,999  4.0
16   30代後半・男性・東京都  ￥6,000～￥7,999  1.5
17             女性              －  4.0
18           None  ￥5,000～￥5,999  2.5
19            東京都  ￥1,000～￥1,999  3.5
20             女性              －  3.0
21  40代前半・男性・神奈川県  ￥4,000～￥4,999  1.5
22   40代前半・女性・東京都              －    -
23         女性・東京都  ￥2,000～￥2,999  3.7
24             女性              －  3.7
25           None  ￥5,000～￥5,999  3.6
26   50代前半・男性・東京都  ￥5,000～￥5,999  3.5
27   20代後半・女性・東京都              －  2.6
28           None              －    -
29             女性  ￥5,000～￥5,999  3.6
..            ...            ...  ...
36   30代後半・女性・東京都  ￥2,000～￥2,999  3.0
37   40代前半・男性・東京都  ￥2,000～￥2,999  3.5
38   30代前半・女性・東京都  ￥4,000～￥4,999  3.0
39   30代後半・男性・東京都              －  3.5
40         女性・東京都  ￥3,000～￥3,999  2.0
41         男性・東京都  ￥4,000～￥4,999  3.5
42   30代後半・男性・東京都  ￥8,000～￥9,999  3.7
43         男性・東京都  ￥6,000～￥7,999  3.5
44        男性・神奈川県  ￥4,000～￥4,999  3.5
45           None  ￥4,000～￥4,999  4.0
46         女性・東京都  ￥3,000～￥3,999  3.0
47         男性・東京都  ￥1,000～￥1,999  2.5
48           None  ￥3,000～￥3,999  3.5
49   30代後半・女性・東京都  ￥3,000～￥3,999  2.0
50         女性・東京都  ￥5,000～￥5,999  3.5
51           None  ￥4,000～￥4,999  3.5
52         女性・東京都  ￥6,000～￥7,999  3.5
53             女性  ￥8,000～￥9,999  1.7
54           None  ￥8,000～￥9,999  3.1
55   20代後半・女性・東京都  ￥8,000～￥9,999  4.0
56   30代後半・女性・東京都  ￥5,000～￥5,999  3.4
57         男性・東京都  ￥3,000～￥3,999  3.4
58      30代前半・東京都  ￥4,000～￥4,999  3.7
59         女性・東京都              －  3.0
60  30代後半・女性・神奈川県  ￥4,000～￥4,999  2.5
61   30代前半・女性・東京都  ￥6,000～￥7,999  3.0
62           None  ￥4,000～￥4,999  3.5
63       30代後半・男性  ￥4,000～￥4,999  2.0
64        女性・神奈川県  ￥6,000～￥7,999  3.0
65        女性・神奈川県  ￥4,000～￥4,999  3.0

[66 rows x 3 columns]

次回は、このDataFrameを使って統計量的なものを出せるようにして、それを抽出したnumpy.arrayを作り、バルニバービの全てのレストランの評価をまとめたDataFrameを作ることを目指します。今のところ考えているのは、F1（女性の３０代まで）・F2（女性の４０代以降）・M（男性）に顧客を分解し、顧客の比率・平均評価・平均金額をそれぞれで出して、3×3=９列を作ろうと思っています。

次のファイルでは、完成されたDataFrameを作ります。お仕事、とってもわーくわーくしますね！