In [1]:
#必要なライブラリを揃える
import requests
import lxml.html
from xml.etree.ElementTree import *

In [4]:
#bal.ipyb のやつと同じ にほんご版
def shop_name(x):
    session = requests.Session()
    response = session.get(x)
    urls = list()
    root = lxml.html.fromstring(response.content)
    root.make_links_absolute(response.url)  
    for a in root.cssselect('a'):
        url = a.get("href")
        urls.append(url)
    i = 0
    ipc = list()
    for i in range(len(urls)):
        if "shops" in urls[i]:
                   ipc.append(urls[i])
        else:
                   pass
    ipcs = ipc[1:]
    ipcl = ipcs[12:-2]
    import re
    session = requests.Session()
    i = 0
    dic = dict()
    lis = list()
    lis2 = list()
    for url in ipcl:
        response = session.get(url)
        root = lxml.html.fromstring(response.content)
        for x in root.cssselect('h3[class ="H3_shopinfo"]'):
            lis.append(x.text)
    wrl =list()
    i= 0
    for i in range(len(lis)):
        l = lis[i]
        la = l[1:-2]
        wrl.append(la)
    wrl
    return wrl

In [5]:
#ナチュラル店表記版
def shop_name1(x):
    session = requests.Session()
    response = session.get(x)
    urls = list()
    root = lxml.html.fromstring(response.content)
    root.make_links_absolute(response.url)  
    for a in root.cssselect('a'):
        url = a.get("href")
        urls.append(url)
    i = 0
    ipc = list()
    for i in range(len(urls)):
        if "shops" in urls[i]:
            ipc.append(urls[i])
        else:
            pass
    ipcs = ipc[1:]
    ipcl = ipcs[12:-2]
    import re
    i = 0
    dic = dict()
    lis = list()
    lis2 = list()
    for url in ipcl:
        response = session.get(url)
        root = lxml.html.fromstring(response.content)
        for x in root.cssselect('span'):
            lis.append(x.text)
    i = 0
    for i in range(len(lis)):
        l = str(lis[i])
        if "\n" in l:
            ls = l.replace('\n', '')
            ld = ls.replace(' ','')
            lis2.append(ld)
    while lis2.count("") > 0:
        lis2.remove("")
    return  lis2

In [6]:
#とりま２通りで検索かけてみたい
erl = list()
wrl = list()
arl = list()
srl = list()
erl = shop_name1("http://www.balnibarbi.com/shops/east.php")
srl =  shop_name1("http://www.balnibarbi.com/shops/sweets.php")
arl =  shop_name1("http://www.balnibarbi.com/shops/asushoku.php")
wrl = shop_name1("http://www.balnibarbi.com/shops/west.php")

In [7]:
eerl = list()
wwrl = list()
aarl = list()
ssrl = list()
eerl = shop_name("http://www.balnibarbi.com/shops/east.php")
ssrl =  shop_name("http://www.balnibarbi.com/shops/sweets.php")
aarl =  shop_name("http://www.balnibarbi.com/shops/asushoku.php")
wwrl = shop_name("http://www.balnibarbi.com/shops/west.php")

In [9]:
erl[:5]

['ガーブ東京', 'ガーブピンティーノ', 'ガーブセントラル', '鉄板チャイニーズバルサヴァ？', '青いナポリ']

In [10]:
eerl[:5]

['GARB Tokyo', 'GARB pintino', 'GARB CENTRAL', '鉄板チャイニーズバル Cava？', '本家かのや']

In [26]:
#若干店名が揃ってないのはなんでなん

In [13]:
ul = "https://tabelog.com/rstLst/?vs=1&sa=&sk=" 
ul2 ="&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw="

In [14]:
x = eerl[0]
f = x.find(' ')
y = x[0:f]+"%2520"+x[f+1:]
y

'GARB%2520Tokyo'

In [15]:
#スペース返すのが何番目なのか返してくれるんだー
f

4

In [16]:
def url(a):
    i = 0
    urls = list()
    for i in range(len(a)):
        x = a[i]
        f = x.find(' ')
        if f > 0:
            y = x[0:f]+"%2520"+x[f+1:]
            urls.append(y)
        else:
            y = x
            urls.append(y)
    return urls

In [17]:
#%2520とかいうのを挟み込む
urls = url(eerl)
urls1 = url(erl)

In [28]:
#単純にfind(' ')だけだと初めの' 'だけで終わってしまう、' 'が複数個存在すると余っちゃう
#条件付け加えればできそうだけどいずれにせよ検索に引っかかりそうだからおっけーって感じなのかな
#多分shop_name1が読めてない感じがする

In [22]:
urls

['GARB%2520Tokyo',
 'GARB%2520pintino',
 'GARB%2520CENTRAL',
 '鉄板チャイニーズバル%2520Cava？',
 '本家かのや',
 '鹿児島%2520かのや萩原',
 'AOI%2520NAPOLI',
 '青いナポリ%2520Blue Bar',
 'Skew',
 'GOOD%2520MORNING CAFE ルミネ池袋',
 'GOOD%2520MORNING CAF',
 'GOOD%2520MORNING CAFE 錦町',
 'GOOD%2520MORNING CAFE 品川シーズンテラス',
 'GOOD%2520MORNING CAFE 千駄ヶ谷',
 'GOOD%2520MORNING CAFE 早稲田',
 'GOOD%2520MORNING CAFE & GRILL 虎ノ門',
 'GOOD%2520MORNING CAFE & GRILL キュウリ',
 'Riverside%2520Cafe Cielo y Rio',
 'Cielo%2520y Rio HIGASHI',
 'RIBAYON',
 'ボン花火',
 'BistroBar%2520TROIS CUIT ASANUMA',
 'BAR%2520RIVER ROOM KURAKOMA',
 'Privado',
 "L'Antica%2520Pizzeria da Michele",
 "AD'ACCHIO",
 'SLOW%2520JET COFFEE',
 '両国テラスカフェ',
 '神田錦町%2520如月',
 'Wee%2520Nam Kee Hainanese Chicken Rice',
 'Cucina%2520Caffe OLIVA',
 '両国テラス',
 'MIRROR',
 'GARB%2520江ノ島',
 'TOYOTAMA%2520VILLA',
 'UPMARKET%2520PIZZA&CAFE',
 'OPEN%2520TERRACE ME-EAT']

In [24]:
urls1

['ガーブ東京',
 'ガーブピンティーノ',
 'ガーブセントラル',
 '鉄板チャイニーズバルサヴァ？',
 '青いナポリ',
 '青いナポリブルーバー',
 'スキュー',
 'グッドモーニングカフェルミネ池袋店',
 'グッドモーニングカフェ中野セントラルパーク',
 'グッドモーニングカフェ錦町',
 'グッドモーニングカフェ品川シーズンテラス',
 'グッドモーニングカフェ千駄ヶ谷',
 'グッドモーニングカフェ早稲田',
 'グッドモーニングカフェ＆グリル虎ノ門',
 'グッドモーニングカフェ＆グリルキュウリ',
 'リバーサイドカフェシエロイリオ',
 'シエロイリオヒガシ',
 'リバヨン',
 'ビストロバルトロワキュイアサヌマ',
 'バーバーリバールーム蔵駒',
 'プリバード',
 'アンティーカピッツェリアダミケーレ',
 'アダッキオ',
 'スロージェットコーヒー',
 'ウィーナムキーハイナンチキンライス日本本店',
 'クッチーナカフェオリーヴァ',
 '両国テラス',
 'ミラー',
 'ガーブ江ノ島',
 'トヨタマヴィラ',
 'アップマーケットピッツァ＆カフェ',
 'オープンテラスミーイート']

In [25]:
#エラーが出ないようにいいとこ取りしよう
urls2 = list()
i = 0
for i in range(len(urls1)):
    x =urls[i]
    f = x.find(' ')
    if f > 0:
        urls2.append(urls1[i])
    else:
        urls2.append(urls[i])
urls2

['GARB%2520Tokyo',
 'GARB%2520pintino',
 'GARB%2520CENTRAL',
 '鉄板チャイニーズバル%2520Cava？',
 '本家かのや',
 '鹿児島%2520かのや萩原',
 'AOI%2520NAPOLI',
 'グッドモーニングカフェルミネ池袋店',
 'Skew',
 'グッドモーニングカフェ錦町',
 'グッドモーニングカフェ品川シーズンテラス',
 'グッドモーニングカフェ千駄ヶ谷',
 'グッドモーニングカフェ早稲田',
 'グッドモーニングカフェ＆グリル虎ノ門',
 'グッドモーニングカフェ＆グリルキュウリ',
 'リバーサイドカフェシエロイリオ',
 'シエロイリオヒガシ',
 'リバヨン',
 'ビストロバルトロワキュイアサヌマ',
 'RIBAYON',
 'ボン花火',
 'アンティーカピッツェリアダミケーレ',
 'アダッキオ',
 'Privado',
 'ウィーナムキーハイナンチキンライス日本本店',
 "AD'ACCHIO",
 '両国テラス',
 '両国テラスカフェ',
 '神田錦町%2520如月',
 'トヨタマヴィラ',
 'アップマーケットピッツァ＆カフェ',
 '両国テラス']

In [29]:
#URL作って飛んでみる
us = list()
for i in range(len(urls2)):
    b = ul + urls2[i] + ul2 + urls2[i]
    us.append(b)
us[:5]

['https://tabelog.com/rstLst/?vs=1&sa=&sk=GARB%2520Tokyo&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=GARB%2520Tokyo',
 'https://tabelog.com/rstLst/?vs=1&sa=&sk=GARB%2520pintino&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=GARB%2520pintino',
 'https://tabelog.com/rstLst/?vs=1&sa=&sk=GARB%2520CENTRAL&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=GARB%2520CENTRAL',
 'https://tabelog.com/rstLst/?vs=1&sa=&sk=鉄板チャイニーズバル%2520Cava？&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=鉄板チャイニーズバル%2520Cava？',
 'https://tabelog.com/rstLst/?vs=1&sa=&sk=本家かのや&lid=hd_search1&vac_net=&svd=20171108&svt=1900&svps=2&hfc=1&sw=本家かのや']

In [30]:
#href : タグの属性、、
#上記のURLでやったねってなったのだけのURLを取得
i = 0
bb = list()
for i in range(len(us)):
    session = requests.Session()
    response = session.get(us[i])
    root = lxml.html.fromstring(response.content)
    root.make_links_absolute(response.url)  
    for a in root.cssselect('a'):
        aa= a.get("href")
        d = list()
        if 'dtlrvwlst' in str(aa):
            bb.append(aa)
            d.append(aa)
            if len(d) > 0:
                break            
bb[:5]

['https://tabelog.com/tokyo/A1302/A130201/13026436/dtlrvwlst/',
 'https://tabelog.com/tokyo/A1310/A131003/13182226/dtlrvwlst/',
 'https://tabelog.com/tokyo/A1308/A130801/13193501/dtlrvwlst/',
 'https://tabelog.com/tokyo/A1310/A131003/13182223/dtlrvwlst/',
 'https://tabelog.com/tokyo/A1304/A130403/13032373/dtlrvwlst/']

In [33]:
print("もともと：",len(us))
print("やったね:",len(bb))

もともと： 32
やったね: 29

In [32]:
#3つくらいのURLは残念だったんだね

In [34]:
#今度は朝昼夜の評価の数値を取ってくる、試しに1つだけやってみる
rat = list()
c = str(bb[0])
cs = c.replace('dtlrvwlst', 'dtlratings')
session = requests.Session()
response = session.get(cs)
root = lxml.html.fromstring(response.content)
for x in root.cssselect('strong[class = "score"]'):
    rat.append(x.text)
rat

['3.55', '3.53', '3.51']

In [35]:
#colums = {morning, lunch, dinner}　とかにしてdfにしてまとめたら扱いやすそう
i = 0
rate = list()
for i in range(len(bb)):
    c = str(bb[i])
    cs = c.replace('dtlrvwlst', 'dtlratings')
    session = requests.Session()
    response = session.get(cs)
    root = lxml.html.fromstring(response.content)
    for x in root.cssselect('strong[class = "score"]'):
        rate.append(x.text)

In [44]:
import numpy as np
import pandas as pd

In [42]:
col = len(rate)/3

In [43]:
np.reshape(rate,(int(col),3))

array([['3.55', '3.53', '3.51'],
       ['3.46', '3.36', '3.25'],
       ['3.50', '3.14', '3.50'],
       ['3.06', '3.06', '3.03'],
       ['3.28', '3.27', '3.08'],
       ['3.13', '3.09', '3.14'],
       ['3.55', '3.51', '3.55'],
       ['3.54', '3.48', '3.51'],
       ['3.28', '3.08', '3.48'],
       ['3.09', '3.05', '3.09'],
       ['3.06', '3.03', '3.06'],
       ['3.55', '3.17', '3.55'],
       ['3.14', '3.12', '3.08'],
       ['3.53', '3.53', '3.17'],
       ['3.28', '3.08', '3.47'],
       ['3.04', '3.04', '-'],
       ['3.04', '3.04', '-'],
       ['3.32', '3.28', '3.09'],
       ['3.61', '3.59', '3.61'],
       ['3.55', '3.54', '3.45'],
       ['3.05', '3.05', '-'],
       ['3.58', '3.55', '3.58'],
       ['3.55', '3.54', '3.45'],
       ['3.41', '3.23', '3.51'],
       ['3.41', '3.23', '3.51'],
       ['3.54', '3.54', '-'],
       ['3.21', '3.06', '3.21'],
       ['3.21', '3.06', '3.21'],
       ['3.41', '3.23', '3.51']],
      dtype='<U4')

In [45]:
value_df = pd.DataFrame(np.reshape(rate,(int(col),3)))

In [46]:
value_df.columns = ['morning', 'lunch', 'dinner']

In [47]:
value_df

   morning lunch dinner
0     3.55  3.53   3.51
1     3.46  3.36   3.25
2     3.50  3.14   3.50
3     3.06  3.06   3.03
4     3.28  3.27   3.08
5     3.13  3.09   3.14
6     3.55  3.51   3.55
7     3.54  3.48   3.51
8     3.28  3.08   3.48
9     3.09  3.05   3.09
10    3.06  3.03   3.06
11    3.55  3.17   3.55
12    3.14  3.12   3.08
13    3.53  3.53   3.17
14    3.28  3.08   3.47
15    3.04  3.04      -
16    3.04  3.04      -
17    3.32  3.28   3.09
18    3.61  3.59   3.61
19    3.55  3.54   3.45
20    3.05  3.05      -
21    3.58  3.55   3.58
22    3.55  3.54   3.45
23    3.41  3.23   3.51
24    3.41  3.23   3.51
25    3.54  3.54      -
26    3.21  3.06   3.21
27    3.21  3.06   3.21
28    3.41  3.23   3.51